body {
  background-color: rgb(224, 224, 224);
}

#newUserInput {
  padding: 10px;
  background-color: lightcyan;
  border-radius: 20px;
}

#newUserInputContainer {
  margin-top: 50px;
  padding: 10px;
  background-color: mistyrose;
  border-radius: 30px;
}

.newUserBtns{
  padding-top: 10px;
  text-align: center;
}

.options {
  text-align: center;
  font-size: x-large;
}

button {
  margin: 10px;
}

#filterOptions {
  margin: 10px;
}

#searchOptions {
  margin: 10px;
}